*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

.container {
  display: flex;
  width: 960px;
  height: 960px;
  margin: 50px auto;
  background-color: aquamarine;
  flex-wrap: wrap;
  border: 1px solid black;
}

.innerDiv {
  border: 1px solid black;
  background-color: aliceblue;
}

.active {
  background-color: red;
}

.form {
  text-align: center;
  margin-top: 25px;
}

input {
  margin: 5px;
}
